# Load Data in Pandas

In [2]:
import pandas as pd

#df = pd.read_csv('pokemon_data.csv')

#df_xlsx = pd.read_excel('pokemon_data.xlsx')
#print(df_xlsx.head(3))

#print(df.tail(3))

df = pd.read_csv('pokemon_data.txt', delimiter='\t' )
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

# Read Data in Pandas

In [11]:
print(df.columns)

# read each column
# print(df[['Name']])\

## read each row
# print(df.iloc[1:4])

#for index, row in df.iterrows():
print(f"Index:, {1}")
    
# get certain rows with conditions
# df.loc[df['Type 2'] == "Water"]

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
Index:, 1

# Sorting or Describing Data

In [7]:
df.sort_values(['Type 1', 'HP'], ascending= False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

# Making changes to data

In [6]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns.values)
df1 = df[cols[0:6] + [cols[-5]] + cols[4:12]]

df1

,#,Name,Type 1,Type 2,HP,Attack,Sp. Def,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,65,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,80,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,100,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,120,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,50,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,130,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,130,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,90,80,110,120,130,90,70,6,True

# Saving Data

In [3]:
#df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=True, sep='\t')

# Filter Data

In [ ]:
#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 60)]

#new_df.to_csv('filtered.csv')

#new_df = new_df.reset_index(drop=True, inplace=True)
import re


df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

# Conditional Changes

In [23]:
#df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

#df = pd.read_csv('modified.csv')

# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']



df.loc[df['HP'] > 40, ['Speed', 'Generation']] = ['Good', 'Stuff']

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,Good,Stuff,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,Good,Stuff,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,Good,Stuff,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,Good,Stuff,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Aggregate Stats (Groupby)

In [19]:
df = pd.read_csv('modified.csv')

#df.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)

# df['count'] = 1

# df.groupby(['Type 1', 'Type 2']).count()['count']

df.groupby(['Type 2']).mean().sort_values('Defense', ascending = True)

C:\Users\Charles\AppData\Local\Temp\ipykernel_1368\597198297.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 2']).mean().sort_values('Defense', ascending = True)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,
Normal,681.000000,411.500000,63.500000,52.750000,53.750000,88.000000,64.250000,89.250000,6.000000,0.000000
Poison,169.970588,396.500000,58.764706,67.588235,59.558824,74.029412,69.911765,66.647059,1.970588,0.000000
Flying,331.103093,452.546392,71.391753,80.288660,68.309278,75.628866,71.206186,85.721649,3.072165,0.134021
Electric,465.666667,455.333333,88.166667,72.666667,68.333333,81.166667,73.500000,71.500000,4.000000,0.166667
Dark,413.850000,484.400000,75.550000,109.800000,72.050000,81.800000,69.850000,75.350000,3.750000,0.050000
Fairy,379.043478,417.956522,64.304348,61.608696,73.869565,75.000000,81.956522,61.217391,3.565217,0.086957
Bug,382.000000,393.333333,53.333333,90.000000,80.000000,46.666667,61.666667,61.666667,3.333333,0.000000
Grass,505.400000,408.920000,62.640000,74.160000,80.120000,60.160000,74.520000,57.320000,4.480000,0.000000
Fire,481.833333,506.250000,71.250000,81.250000,80.166667,110.416667,83.500000,79.666667,4.000000,0.250000
Ghost,551.714286,430.714286,59.142857,84.142857,82.285714,73.214286,78.071429,53.857143,4.785714,0.071429
Fighting,438.192308,525.846154,79.461538,112.846154,82.500000,81.269231,82.384615,87.384615,3.923077,0.153846
Water,400.000000,418.214286,62.714286,70.142857,85.071429,74.500000,68.642857,57.142857,3.428571,0.071429
Ice,441.285714,525.714286,90.000000,98.000000,85.642857,92.642857,84.785714,74.642857,3.714286,0.214286
Psychic,337.151515,479.060606,72.212121,74.696970,87.030303,88.030303,87.606061,69.484848,2.939394,0.151515
Dragon,482.555556,526.166667,82.166667,94.444444,87.055556,98.500000,83.444444,80.555556,4.166667,0.222222
Ground,307.600000,444.342857,77.228571,89.857143,90.314286,65.542857,66.742857,54.657143,2.942857,0.028571
Steel,435.636364,485.227273,64.636364,92.590909,104.636364,77.727273,86.272727,59.363636,3.818182,0.045455
Rock,347.785714,434.642857,68.071429,84.000000,126.857143,51.142857,68.571429,36.000000,3.142857,0.000000

# Working with large amts of data

In [20]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize = 5):
    results = df.groupby(['Type 1'].count())
    
    new_df = pd.concat([new_df, results])

TypeError: list.count() takes exactly one argument (0 given)